{% extends "base.html" %}

{% block content %}
<div class="page-head">
    <div>
        <h1>{{ page_title }}</h1>
    </div>
</div>

<form method="post" class="form-card">
    {% csrf_token %}

    {% for field in form %}
        <div class="field">
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.errors %}
                <div class="errors">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="actions">
        <button class="primary-button" type="submit">
            Сохранить
        </button>

        {% if task %}
            <a href="{% url 'task_detail' task.pk %}">
                Отмена
            </a>
        {% else %}
            <a href="/">Отмена</a>
        {% endif %}
    </div>
</form>
{% endblock %}
